<div class="social-links">
  <a href="https://github.com/Sami353" class="twitter"><i class="bi bi-github"></i></a>
  <a href="https://www.linkedin.com/in/sami-mali/" class="linkedin"><i class="bi bi-linkedin"></i></a>
  <a href="https://www.facebook.com/sami.mali.878/" class="facebook"><i class="bi bi-facebook"></i></a>
  <a href="https://www.instagram.com/sami_mali/" class="instagram"><i class="bi bi-instagram"></i></a>
  {% comment %} <a href="https://discord.com/" class="discord"><i class="bi bi-discord"></i></a> {% endcomment %}
  <a href="https://www.threads.net/@sami_mali" class="threads"><i class="bi bi-threads"></i></a>
</div>
